html, body {
  overflow: hidden;
}

* {
  font-family: 'Tilda Sans VF', sans-serif;
  color: #f0f0f0;
}

.title-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: 'Trajan Pro 3';
  text-align: center;
  background-clip: text;
  font-weight: 400;
  line-height: 150%;
  font-size: 1.5rem;
  background-image: linear-gradient(94.44deg,rgba(214,176,255,.1) -6.31%,rgba(14,1,23,.455) 21.45%,rgba(214,176,255,.1) 42.35%,rgba(14,1,23,.443) 65.41%,rgba(240,226,255,.1) 95.03%),linear-gradient(#fff,#fff);
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.error-message {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  top: 20px;
  width: 80vw;
  padding: 10px 15px;
  left: 10vw;
  background-color: #1A90B8;
  border-radius: 10px;
  border: 0.5px solid #49C8F2;
  box-shadow: 0px 4px 19px rgba(80, 196, 236, 0.45), inset 0px 4px 4px #61CBEF;
}

.error-message-text {
  text-align: center;
  font-size: 1.2rem;
}

.error-message.visibile {
  opacity: 1;
  visibility: visible;
  animation: scale .3s cubic-bezier(.68, -.55, .265, 1.55) forwards;
}


/* Для разделов в разработке */
.developer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.developer-text p {
  font-size: 1.4rem;
  text-align: center;
}
.developer-text p:first-child {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 20px;
}
.developer-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg,#63118e 0%,#c953c7 50%,#661492 100%);
  box-shadow: inset 0 4px 12px #ac38eb;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  margin-top: 30px;
  font-size: 1.4rem;
}